extends base.pug

block style
        style
            include ../public/stylesheet/navStyle.css
            include ../public/stylesheet/aboutStyle.css

block content
    section#herosec
        .text 
            h1 What we Are?
            h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quam deleniti debitis ipsa, porro vitae amet eos laborum sed dolorem libero praesentium veniam aliquid at explicabo tempore error consequuntur mollitia! Repudiandae facilis nemo quis rerum provident molestiae necessitatibus deserunt ea illum eveniet. Tempora eos asperiores corrupti? Non veniam, labore quod placeat expedita, repellat ut consequatur dolore a optio nobis accusamus quam culpa veritatis! Sapiente vel asperiores dolores eius voluptatibus praesentium! Facere voluptatum error veniam officiis distinctio quam minus vel unde temporibus ea. Aliquid nemo sint expedita vitae tempore debitis maiores enim tempora nisi animi minima, laborum, numquam suscipit. Magni, beatae.