extends base.pug

block style
        style
            include ../public/stylesheet/navStyle.css
            include ../public/stylesheet/indexStyle.css

block content
    section#herosec
        .text 
            h1 #{headline} 
            h3 Here we try to learn create pages  by Express And use template engin 
        button Know More